<!doctype html>

<html lang="en">
<head>
 <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
  <meta charset="utf-8">

  <title>Tic-Tac-Toe</title>
  <meta name="description" content="Tic-Tac-Toe Game">
  <meta name="author" content="Quai">

  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <script src="js/scripts.js"></script>
  <header>
  	<h1>Tic-Tac-Toe</h1>
  	<section class= "player-info">
	  	<h2>Player 1</h2>
	  	<ul>
	  	<script type="text/template" id="tmpl-player-info">  	
	  		<li><%- player1.name %></li>
	  	</script>
	  		<li><img src = "../images/x.png"/></li>
	  	</ul>  	
	  </section>

  	<section class= "player-info">
	  	<h2>Player 2</h2>
	  	<ul>
	  	<script type="text/template" id="tmpl-player-info">
	  		<li><%- player2.name %></li>	  	
	  	</script>
	  		<li><img src = "../images/o.png"/></li>
	  	</ul>
  	</section>
  </header>
  <main>
  	<section class = "board">
  		<img src = "../images/empty-board.png"/>

  		<script type="text/template" id="tmpl-board-cells">
      
    
  		<ul>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  			<li><img src = <%- thisPlayer.tag + ".jpg" %> /></li>
  		</ul>

  		</script>
  </main>
  <footer>
  	<form>
  		<label>
              Player 1
              <input type="text" name="player1">
        </label>
  		<label>
              Player 2
              <input type="text" name="player2">
        </label>

  		<button type= "submit">New Game</button>
  		<button>Quit</button>
  	</form>
  	
  </footer>

</body>
</html>